body {
    font-family: "Noto Sans JP", sans-serif;
}

/*ヘッダー*/
header {
    position:absolute;
    width:100%;
    color:white;
    z-index:2;
    background:skyblue;
}

header .container {
    width: 90%;
    max-width:1500px;
    margin: 0 auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 0;
}

header .logo {
    font-size:30px;
    font-weight:500;
}

header ul {
    display:flex;
}

header li {
    font-weight:500;
    margin-left:50px;
}

header a ul li {
    transaction: .3s;
}

header ul li a:hover {
    color:blue;
}

/* スマホ表示の時にメニューが出ているためメニューを消すためにメディアクエリを入れる */
@media screen and (max-width:767px) {
    header nav {
        display:none;
    }
}
